appdirs==1.4.4
arrow==0.17.0
astroid==2.5.2
autopep8==1.5.5
backcall==0.2.0
beautifulsoup4==4.9.3
black==20.8b1
cassiopeia==4.0.18
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
datapipelines==1.0.7
decorator==4.4.2
flake8==3.8.4
idna==2.10
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.8.0
jedi==0.17.2
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
merakicommons==1.0.10
mypy-extensions==0.4.3
mysql-connector-python==8.0.24
networkx==2.5.1
numpy==1.20.3
pandas==1.2.4
parso==0.7.1
pathspec==0.8.1
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
prompt-toolkit==3.0.18
pycodestyle==2.6.0
pydocstyle==6.0.0
pyflakes==2.2.0
Pygments==2.9.0
pylint==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2021.1
pywin32==300
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
rope==0.18.0
scipy==1.6.3
seaborn==0.11.1
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.5
wcwidth==0.2.5
wrapt==1.12.1
yapf==0.31.0
